/* Font */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

/* Global */
html {
    min-height: 100%;
    overflow: hidden;
}

body {
    height: calc(100vh - 8em);
    padding: 4em;
    color: white;
    font-family: 'Source Code Pro', monospace;
    background-color: black;
}

.line {
    position: relative;
    top: 50%;
    width: 21em;
    margin: 0 auto;
    border-right: 2px solid white;
    font-size: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 21em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: white;
    }
    to {
        border-right-color: transparent;
    }
}